* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
body {
  background-color: teal;
}
table {
  width: 1200px;
  max-width: 95%;
  margin: 20px auto;
  border-collapse: collapse;
}
table,
th,
td {
  border: 1px solid black;
  padding: 15px;
  text-align: center;
}
button {
  padding: 6px 12px;
  cursor: pointer;
  border: none;
  text-align: center;
  width: 100px;
  height: 35px;
}
.addBtn {
  background-color: rgb(0, 38, 255);
  font-size: 18px;
}
.saveBtn {
  background-color: rgb(83, 175, 80);
  margin: 0 15px 0 0;
}
.cancelBtn {
  background-color: rgb(250, 235, 57);
}
.removeBtn {
  background-color: rgb(231, 65, 51);
}
.editBtn {
  background-color: rgb(85, 85, 85);
  color: white;
  margin: 0 15px 0 0;
}
input {
  outline: none;
  padding: 6px;
  height: 40px;
  width: 250px;
  margin: 0 auto;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
/* make writed to constant apperance table */
th:not(th:first-child) {
  width: 23%;
}
th:first-child {
  width: 8%;
}
table tr {
  padding: 5%;
}
